[data-bs-page="home"] {
    .div2 {
        // background-image: url("../outils/backgrounds/iwaco.png");
        padding: 160px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-transform: capitalize;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        min-height: 550px;

        .hero-bg-swiper{
            position: absolute;
            inset: 0;
            z-index: 0;
        }

        .slide-img{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .div2::after {
        z-index: 1;
    }

    .div2>div {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        color: white;
        position: relative;
        z-index: 1;
    }

    .div2>div h1 {
        font-weight: bold;
        font-size: 50px;
    }

    .div2 p {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.6;
    }

    .div2 h1,
    .div2 p {
        text-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
    }

    .div2 mark {
        background-color: var(--special_color);
        color: white;
        transition: background-color 0.3s ease;
    }

    .div2 .form-control {
        margin-inline: auto;
        border: none;
        border-radius: 50px;
        display: inline;
        font-size: 20px;
        background: transparent;
        color: white;
        outline: none;
    }

    .div2 .form-control::placeholder {
        color: #eee;
        opacity: calc(0.8);
    }

    .div2 .btn {
        border-radius: 50px;
    }

    .div2 .btn {
        background: linear-gradient(to top, var(--principal_color) 50%, #ffffff 50%);
        background-size: 100% 200%;
        background-position: bottom;
        border: none;
        width: 200px;
        padding: 9px;
        color: #f8f9fb;
        font-weight: 700;
        margin: auto;
        border-radius: 50px;
        transition: all 0.2s ease;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        text-transform: capitalize;

        svg{
            transition: transform 0.3s ease;
        }

        &:hover{
            svg{
                transform: translateX(5px);
            }
        }
    }

    .div2 .btn:hover {
        transform: translateY(-4px);
        background-position: top;
        color: var(--principal_color);
    }

    // .slide-img{
    //     height: 100%;
    //     background-size: cover;
    //     background-position: center;
    //     filter: brightness(0.6);
    // }
}